<html>  
  <div class="bg-color">

        <nav class="navbar">
            <div class="logo">
                <img src="./../../../assets/logo/logo_v3.png" alt="Logo" />
            </div>

            <div class="col-md-6">
                <div class="search">
                    <i class="fa fa-search"></i>
                        <input type="search" (ngModelChange)="searchMovies(key.value)" #key="ngModel" ngModel name="key" class="form-control form-input" 
                        placeholder="Search movies..." />
                </div>
            </div>

            <div class="buttons">
                <a (click)="onOpenModal(undefined, 'add')" type="button" class="styled-icons-item fa fa-plus" data-bs-toggle="modal" data-bs-target="#addMovieModal"></a>
            </div>
        </nav>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
            <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL75StwEJmIZsW/yk1p0UksJXm2tB" crossorigin="anonymous"> -->
            
            <div class="container my-mt bg-color" id="main-container">
                <div class="row mt-n1-9">
                                <div *ngFor="let movie of movies"  class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                    <div class="team-style07 card-container">
                                        <div class="team-thumb mb-1-9">
                                            <div class="thumb"><img src="{{ movie?.imageUrl }}" class="rounded-circle card-img" alt="..."></div>
                                            <div class="team-social">
                                                <ul class="styled-icons">
                                                    <li><a (click)="onOpenModal(movie, 'edit')" type="button" class="styled-icons-item fa fa-pen" data-bs-toggle="modal" data-bs-target="#editMovieModal"></a></li>
                                                    <li><a routerLink="movie" class="styled-icons-item"><i class="fa fa-eye"></i></a></li>
                                                    <li><a (click)="onOpenModal(movie, 'delete')" type="button" class="styled-icons-item fa fa-trash" data-bs-toggle="modal" data-bs-target="#deleteMovieModal"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body p-3">
                                            <div class="movie-details text-truncate">
                                            <h3 class="h5 mb-1">{{ movie?.title }}</h3>
                                            <p class="mb-0">{{ movie?.category }}</p>
                                            </div>
                                        </div>                              
                                    </div>
                                </div>
                    </div>
                </div>
            </div>


    <!-- Add Movie Modal -->
    <div class="modal fade" id="addMovieModal" tabindex="-1" role="dialog" aria-labelledby="addMovieModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMovieModalLabel">Add New Movie :</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddMovie(addForm)">
                <div class="form-group">
                <label for="name">Title</label>
                <input type="text" ngModel name="title" class="form-control" id="title" placeholder="Title" required>
                </div>
                <div class="form-group">
                <label for="email">Category</label>
                <input type="email" ngModel name="category" class="form-control" id="category" placeholder="Category" required>
                </div>
                <div class="form-group">
                <label for="phone">Ranking</label>
                <input type="text" ngModel name="ranking" class="form-control" id="ranking" placeholder="Ranking" required>
                </div>
                <div class="form-group">
                <label for="phone">Description</label>
                <input type="text" ngModel name="description" class="form-control" id="description" placeholder="Description" required>
                </div>
                <div class="form-group">
                <label for="phone">Image URL</label>
                <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
                </div>
                <div class="modal-footer">
                <button type="button" id="add-movie-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Add movie</button>
                </div>
                </form>
            </div>
        </div>
        </div>
    </div>


    <!-- Edit Movie Modal -->
    <div class="modal fade" id="editMovieModal" tabindex="-1" role="dialog" aria-labelledby="movieEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateMovieModalLabel">Edit Movie : {{editMovie?.title}}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                    <label for="name">Title</label>
                    <input type="text" ngModel="{{editMovie?.title}}" name="title" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Title">
                    </div>
                    <input type="hidden" ngModel="{{editMovie?.id}}" name="id" class="form-control" id="id" placeholder="">
                    <div class="form-group">
                        <label for="category">Category</label>
                        <input type="text" ngModel="{{editMovie?.category}}" name="category" class="form-control" id="category" placeholder="Category">
                    </div>
                    <div class="form-group">
                    <label for="ranking">Ranking</label>
                    <input type="text" ngModel="{{editMovie?.ranking}}" name="email" class="form-control" id="email" placeholder="Ranking">
                    </div>
                    <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" ngModel="{{editMovie?.description}}" name="description" class="form-control" id="description" placeholder="Description">
                    </div>
                    <div class="form-group">
                    <label for="imageUrl">Image URL</label>
                    <input type="text" ngModel="{{editMovie?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                    </div>
                    <div class="modal-footer">
                    <button type="button" id="" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                    <button (click)="onUpdateMovie(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary" >Save changes</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>


    <!-- Delete Movie Modal -->
    <div class="modal fade" id="deleteMovieModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModelLabel">Delete Movie</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete movie : {{deleteMovie?.title}} ?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <button (click)="deleteMovie && onDeleteMovie(deleteMovie.id)" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</html>