html, body {
    height: 100%;
    overflow-y: scroll;
}

body{
    background-color: rgba(251,243,228,1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.moviePlayer{
    padding-top: 40px;
    padding-left: 40px;
}

.firstRow{
    display: flex;
    flex-direction: row;
}

.movieMainInformation{
    padding-top: 150px;
    padding-left: 60px;
}

.movieMainInformation .movieName{
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}

.movieMainInformation .movieCast{
    width: 800px;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
}

.movieDescription{
    padding-left: 40px;
    padding-top: 20px;
    font-size: 20px;
    width: 1400px;
}

.movieReviews{
    padding-left: 40px;
    padding-top: 10px;
    font-size: 20px;
}

.reviewSection{
    padding-left: 40px;
    padding-top: 10px;
}

.input-group i{
    text-align: center;
    padding-top: 10px;
}

.card  {
    background-color: rgba(251,243,228,1);
    border: 1px solid #6c757d;
    border-radius: 10px;
}

.reviewSection .input-group button:hover {
    text-decoration: none;
    background-color: #c2c8cd;
    border-color: #6c757d; 
}

.userInfo{
    font-size: 20px;
    padding-bottom: 10px;
}

.secondRow button {
    background-color: rgba(251,243,228,1);
    border: 0px;
    border-color: rgba(251,243,228,1);
    color: black;
    font-size: 20px;
}

.secondRow button:hover {
    background-color: rgba(251,243,228,1); 
    border: 0px;
    border-color: rgba(251,243,228,1);
    color: #6c757d;
}

.secondRow{
    padding-left: 150px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.secondRow > * {
    margin-right: 20px;
}

.secondRow p{
    padding-left: 5px;
    padding-top: 16px;
    font-size: 20px;
}