body {
    height: 100vh;
    background: linear-gradient(0deg, rgba(190,52,85,1) 0%, rgba(251,243,228,1) 100%);
  }

.central {
    background: rgba(251,243,228,1);
    height: 450px;
    width: 700px;

    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

.title {
    margin: 20px 0 20px 0;
    text-align: center;
    }

.content{
    display: flex;
    height: 400px;
}

.logo {
    display: flex;
    align-self: center;
    height: 250px;
    width: 250px;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px
}

img{
    height: 100px;
    width: auto;
}
    
.vertical-line {
    height: 200px;
    align-self: center;
    border-left: 3px solid rgba(190,52,85,1);
    margin-bottom: 70px
}
    
form{
    height: 350px;
    width: 447px;
    display: flex;
    padding-left: 100px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 10px
}

.input-group, input{
    width: 250px;
}

form input::placeholder {
    color: black;
    opacity: 70%;
}

.input-group i{
    text-align: center;
    padding-top: 10px;
}


.form-elements-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
.form-elements-bottom button {
    margin-right: 15px;
    background-color: rgba(2,0,36,1);
    border-color: rgba(2,0,36,1);
}

.form-elements-bottom button:hover {
    margin-right: 15px;
    background-color: rgb(51, 49, 85); 
    border-color: rgb(51, 49, 85); 
}

.form-elements-bottom h6{
    padding-top: 10px;
}

.form-elements-bottom h6 a {
    text-decoration: none;
    color: rgba(2,0,36,1);
}
  
.form-elements-bottom h6 a:hover {
    text-decoration: none;
    color: rgb(51, 49, 85);
}




