<!DOCTYPE html>
<html>
    <head>
        <title>User</title>
        <script src="https://kit.fontawesome.com/09c942d75c.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <nav class="navbar">

            <div class="logo">
                <img src="./../../../assets/logo/logo_2.png" alt="Logo" />
            </div>

            <div class="col-md-6">
                <div class="search">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control form-input" placeholder="Search movies..." />
                </div>
            </div>

            <div class="buttons">
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary" type="button">News</button>
                    <button class="btn btn-primary" type="button">Movies</button>
                </div>
                <i class="fa-solid fa-user"></i>
            </div>

        </nav>
        <div class="content"></div>
    </body>
</html>
